@import 'https://fonts.googleapis.com/css?family=Roboto';

@icon-font-path: "../../fonts";
@global-margin: 20px;
@global-large-margin: 30px;
@global-link-color: #363636;
@global-link-hover-color: #010101;
@global-primary-gradient-top: #5cc0ea;
@global-primary-gradient-bottom: #4cacd7;
@base-h1-font-size: round(@global-font-size * 2.85);
@base-h1-line-height: round(@base-h1-font-size * 1.25);
@base-h2-font-size: round(@global-font-size * 2.28);
@base-h2-line-height: round(@base-h2-font-size * 1.25);
@base-h3-font-size: round(@global-font-size * 1.71);
@base-h3-line-height: round(@base-h3-font-size * 1.25);
@base-h4-font-size: round(@global-font-size * 1.28);
@base-h4-line-height: round(@base-h4-font-size * 1.33);
@base-selection-background: #1fa2d6;
@base-body-font-family: 'Roboto';
@base-heading-font-family: 'Roboto';
@base-heading-font-weight: 300;
@panel-box-primary-background: #eefaff;
@panel-box-primary-color: #363636;
@panel-box-primary-title-color: #111;
@article-title-font-weight: 300;
@nav-padding-horizontal: 20px;
@nav-side-active-box-shadow: rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: rgba(0,69,109,0.25);
@nav-search-active-box-shadow: rgba(0,69,109,0.25);
@navbar-nav-height: 45px;
@button-primary-hover-background: #53b5de;
@button-primary-active-background: #359ac4;
@icon-button-hover-color: @global-link-hover-color;
@badge-font-size: 11px;
@badge-font-weight: normal;
@thumbnail-background: #fff;
@dropdown-width: 220px;
@utility-heading-large-font-size: round(@global-font-size * 3.71);
@utility-heading-large-line-height: round(@utility-heading-large-font-size * 1.23);
@left-bar-width: 75px;
@social-icon-color: #e45245;
@global-grid-gutter: 15px;
@theme-block-padding: 30px;
@global-primary-background: rgba(255,255,255,0.9);
@global-secondary-background: #e45245;
@panel-box-secondary-background: #fff;
@button-primary-color: #e45245;
@button-primary-hover-color: #4c4c4c;
@button-primary-border-hover-color: #999;
@form-height: 46px;
@form-padding: 10px 20px;
@offcanvas-bar-background: #FFF;
@nav-offcanvas-hover-background: darken(@offcanvas-bar-background, 5%);
@offcanvas-panel-link-color: #666;
@offcanvas-panel-link-hover-color: #e45245;
@nav-offcanvas-active-color: #00aeef;
@space-wrapper: 30px;
@font-heading: 'Roboto Condensed', Arial, san-serif;
@pagination-active-background: #00aeef;
@progress-bar-background: linear-gradient(to bottom, #00b4f5, #008dc5) repeat scroll 0 0 #009dd8;
@progress-background: none repeat scroll 0 0 #f7f7f7;
@button-line-height: 46px;
@button-height: 46px;
@bs-button-height: 38px;
@global-column-padding: 16px;
@grid-gutter-small-horizontal: 16px;
@text-primary-color: #d85030;
@base-hr-border: #363636;
@global-border: #999;
@global-secondary-border: #999;
@grid-gutter-large-horizontal: 16px;
@base-body-font-size: 16px;
@global-font-size: 16px;
@image-avatar-size: 48px;
@offcanvas-bar-background: transparent;
@headerbar-line-height: 30px;
@panel-space-padding: 15px;
@detail-content-width: 960px;
@base-h1-font-size: 2.65em;
@base-h1-line-height: 2.25em;
@base-h2-font-size: 1.75em;
@base-h2-line-height: 1.5em;
@base-h3-font-size: 1.5em;
@base-h3-line-height: 1.25em;
@base-h4-font-size: 1.25em;
@base-h4-line-height: 1em;
@base-h5-font-size: 1em;
@base-h5-line-height: 0.9em;
@base-h6-font-size: 0.9em;
@base-h6-line-height: 0.8em;