@import "uikit/uikit.less";
@import "../warp/vendor/uikit/less/components/htmleditor.less";
@import "../warp/vendor/uikit/less/components/upload.less";
@import "../warp/vendor/uikit/less/components/placeholder.less";
@import "../warp/vendor/uikit/less/components/form-file.less";
@import "../warp/vendor/uikit/less/components/datepicker.less";
@import "../warp/vendor/uikit/less/components/search.less";
@import "../warp/vendor/uikit/less/components/cover.less";
@import "../warp/vendor/uikit/less/components/slidenav.less";
@import "../warp/vendor/uikit/less/components/slideshow.less";

@font-face {
  font-family: "writer-pixellove";
  src: url('../fonts/writer-pixellove.woff');
}

.hook-form() {
  font-size: 16px;
}

.hook-offcanvas-bar() {
  font-family: @font-heading;
  font-size: 16px;
  padding: 15px;
}

.hook-border-radius(@radius: 0) {
  -moz-border-radius: @radius;
  border-radius: @radius;
  -webkit-border-radius: @radius;
}

.hook-button() {
  .hook-border-radius(0);

  font-family: @font-heading;
  padding: 0 22px;
}

.hook-button-primary() {
  border: 1px solid @button-primary-color;
}

.hook-button-primary-hover() {
  border: 1px solid @button-primary-border-hover-color;
  background: @global-primary-background;
}

.hook-button-primary-active() {
  font-weight: 700;
  border: 1px solid @button-primary-border-hover-color;
  background: @global-primary-background;
  color: @button-color;
}

.vi-flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.tm-padding-left-remove {
  padding-left: 0 !important;
}

.fixed {
  position: fixed;
}

/* ========================================================================
   Warp theme
 ========================================================================== */

/* Layout
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html {
  overflow-y: scroll;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a.btn.jmodedit, a.btn.jmodedit *, a.btn.jmodedit *:after, a.btn.jmodedit *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.vi-left-bar {
  width: @left-bar-width;
  position: absolute;
  height: 100%;
  border-right: 1px solid @global-border;
  z-index: 10;
}

.tm-right-bar {
  margin-left: @left-bar-width;
  border-bottom: 1px solid @global-border;
  padding-left: @global-column-padding;
}


.tm-frontpage {
  .tm-main {
    padding-left: 0;
  }
}

.tm-logo {
  width: 64px;
  display: block;
  margin-left: 5px;
  position: fixed;
  top: 0;
}

.tm-tagline h1, .tm-tagline h2, .tm-tagline h3, .tm-tagline h4, .tm-tagline h5, .tm-tagline h6 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
}

#tm-menu-button {
  top: 50%;
  cursor: pointer;
  text-align: center;
  position: fixed;
  width: 74px;

  > span {
    background: #FFF;
    border-radius: 6px;
    display: inline-block;
    height: 5px;
    position: relative;
    text-indent: -9999px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: 5px;

    &:before, &:after {
      .hook-border-radius(6px);
      background: #FFF;
      content: "";
      height: 5px;
      left: 50%;
      margin-left: -2px;
      overflow: hidden;
      position: absolute;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -ms-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
      width: 5px;
    }

    &:before {
      top: 8px;
      -webkit-transition-delay: .05s;
      -moz-transition-delay: .05s;
      -ms-transition-delay: .05s;
      -o-transition-delay: .05s;
      transition-delay: .05s;
    }

    &:after {
      top: 16px;
      -webkit-transition-delay: .1s;
      -moz-transition-delay: .1s;
      -ms-transition-delay: .1s;
      -o-transition-delay: .1s;
      transition-delay: .1s;
    }
  }

  &:hover {
    > span, > span:after, > span:before {
      width: 32px;
    }
    > span:after, > span:before {
      margin-left: -16px;
    }
  }
}

.uk-offcanvas-page {
  #tm-menu-button {
    > span {
      -webkit-transform: scale(.8) rotate(45deg);
      -moz-transform: scale(.8) rotate(45deg);
      -ms-transform: scale(.8) rotate(45deg);
      -o-transform: scale(.8) rotate(45deg);
      transform: scale(.8) rotate(45deg);
      -webkit-transition-duration: .25s;
      -moz-transition-duration: .25s;
      -ms-transition-duration: .25s;
      -o-transition-duration: .25s;
      transition-duration: .25s;
      width: 32px;

      &:before {
        -webkit-transform: scale(.8) rotate(45deg);
        -moz-transform: scale(.8) rotate(45deg);
        -ms-transform: scale(.8) rotate(45deg);
        -o-transform: scale(.8) rotate(45deg);
        transform: scale(.8) rotate(45deg);
        -webkit-transition-duration: .25s;
        -moz-transition-duration: .25s;
        -ms-transition-duration: .25s;
        -o-transition-duration: .25s;
        transition-duration: .25s;
        width: 32px;
        margin-left: -16px;
        margin-top: -8px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
      &:after {
        display: none;
      }
    }
  }
}

/*
 * Headerbar
 */
.tm-headerbar {
  overflow: hidden;
  background: #FFF;
  padding-bottom: @global-grid-gutter;
  padding-top: 8px;
  height: 70px;

  .uk-panel + .uk-panel {
    border-right: 1px solid #EEE;
  }

  .vi-headerbar-top {
    overflow: hidden;
    border-bottom: 2px solid #606060;
    padding-top: 5px;
    position: fixed;
    background: #FFF;
    top: 0;
    z-index: 100;
    width: calc(~'100% - @{left-bar-width} - @{global-column-padding}');
    left: @left-bar-width + @global-column-padding;

    .tm-tagline {
      float: left;

      h1 {
        margin-bottom: 0;
        line-height: 46px;
      }
    }

    .uk-panel {
      max-width: 300px;
      margin-right: 0;
      float: right;
      line-height: @headerbar-line-height;
      padding: 0 @global-column-padding;
    }
  }

  .vi-userbox-search {
    width: 50%;
    float: right;

    > div {
      border-left: 1px solid #DDD;
      padding-left: 10px;
      margin-right: 5px;
    }
  }

  .vi-userbox-search, .vi-topbar-content {
    margin: 10px 0;
  }

  .vi-topbar-content {
    line-height: @headerbar-line-height;
    float: right;
    margin-right: 20px;
  }

  .vi-headerbar-content {
    > div {
      display: inline-block;
    }
  }
}

.tm-social-icons {
  .tm-icon {
    color: @social-icon-color;
    font-size: 16px;
    margin: 0 5px 0 0;
  }
}

.tm-main {
  padding-bottom: @global-column-padding;
}

.vi-headerbar-headline {
  float: right;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 0 !important;

  .vi-headerbar-subtitle, .vi-headerbar-title {
    text-transform: uppercase;
  }
  .vi-headerbar-subtitle {
    font-weight: 700;
    font-size: 1.25em;
  }
  .vi-headerbar-title {
    font-size: 3em;
    margin-top: 10px;
    font-weight: 300;
  }
}

.vi-sidebar.vi-sidebar-padding-top {
//  margin-top: 40px;
}

.vi-userbox-panel {
  background: @panel-box-background;
  width: calc(~'100% - @{grid-gutter-large-horizontal}');
  top: 60px;
  z-index: 10;
  position: absolute;

  .uk-panel-title {
    text-transform: uppercase;
  }
}

.vi-category-page {
  margin-left: -@space-wrapper;
}

.vi-cat-image {
  height: 450px;
  background-size: cover;
  background-position: center;
  display: table;
  text-align: center;
  width: 100%;
  margin: 0 0 5px;

  .vi-cat-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .vi-cat-title, .vi-cat-desc {
    color: #FFF;
  }
}

.vi-sidebar {
  padding-right: @global-column-padding;
}

/*
 * Canvas
 */
#tm-canvas-bar {
  .uk-nav {
    margin-bottom: 30px;

    a {
      color: @offcanvas-panel-link-color;

      &:hover {
        color: @offcanvas-panel-link-hover-color;
      }
    }
    .uk-active {
      a {
        text-decoration: underline;
      }
    }
  }

  .tm-menu-title {
    font-weight: 700;
    margin-bottom: 10px;
    padding: @nav-padding-vertical @nav-padding-horizontal;
  }
}

.tm-block-padding,
.tm-block-large-padding {
  padding: @theme-block-padding;
}

.tm-featured-box {
  background: @panel-box-primary-color;
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
}

.tm-image-post {
  position: relative;
  background-size: cover;
  background-position: center;
}

.uk-slidenav-position.vi-slideshow .uk-slidenav {
  dispplay: block;
}

/* frontpage */
.mod_mt_listings_frontpage {
  &.uk-slideshow {
    overflow: visible;
  }
}
ul.vi-mt-listings-by-category {
  padding: 0;

  li {
    list-style-type: none;
    margin: 16px 0;
    padding: 16px 0;

    .vi-mt-created-info {
      text-align: center;
      margin-top: 10px;
      font-style: oblique;
    }

    h3 {
      text-align: center;
      margin: 5px 0;
      font-weight: 700;
    }

    .vi-mt-categories {
      text-align: center;
      text-transform: uppercase;
    }

    .vi-mt-desc {
      margin-top: 20px;
      padding: 0 30px;
    }

    hr {
      margin: 60px auto 0;
      width: 80%;

      &:after {
        height: 32px;
        background: @base-hr-border;
        width: 120px;
        content: '';
        display: block;
        margin: -16px auto;
      }
    }

    .vi-listing-des {
      margin: 10px 0;
    }
  }
}
.vi-highlight-posts {
  margin-top: 12px;
}

.vi-listing-image {
  min-height: 220px;
  background-size: cover;
}
.vi-mt-listings-list {
  padding: 0;

  li {
    border-top: 1px solid @global-border;
    margin: 0 @global-column-padding;
    padding: 20px 40px 20px 0;

    h3 {
      a {
        display: block;
        font-weight: 700;
        padding: 5px 10px;
        border: 1px solid @global-secondary-border;
      }
    }

    .vi-profile-info {
      position: absolute;
      right: 0;
      bottom: 0;

      .vi-info {
        vertical-align: bottom;
        font-size: 0.9em;
        line-height: 1.25em;
      }

      img {
        height: @image-avatar-size;
        width: @image-avatar-size;
        margin-left: 12px;
        .hook-border-radius(50%);
      }
    }
  }

  .vi-user-group {
    font-style: oblique;
    font-size: 0.9em;
    span + span:before {
      content: ' | ';
    }
  }
}
.tm-post-content {
  padding-left: 0;
  margin-left: -@grid-gutter-horizontal;
}

.tm-post-info {
  position: relative;
  padding-left: @space-wrapper;

  .tm-post-link-action {
    display: inline-block;
    background: @panel-box-primary-color;
    color: #fff;
    padding: 5px 10px;
  }

  .tm-post-info-left {
    position: absolute;
    top: 20px;
    left: 190px;
  }

  .tm-post-info-right {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
  }

  .tm-post-rating {
    position: absolute;
    left: 400px;
    top: 20px;
    z-index: 10;

    .tm-rating {
      overflow: hidden;
    }

    #total-votes {
      vertical-align: bottom;
      margin-left: 10px;
    }
  }

  .tm-user-profile {
    margin-top: -60px;
    img {
      width: 120px;
      border: 1px solid #EEE;
    }
  }

  .tm-reviews a {
    font-style: oblique;
    padding-left: 20px;
    color: @panel-box-primary-color;
    font-weight: 700;
  }
}

.tm-sidebar-a {
  border-right: 1px solid @global-border;
  position: relative;
}

.tm-sidebar-b {
  background: @panel-box-background;

  .uk-panel-box + .uk-panel-box {
    border-top: 1px solid #DDD;
  }
}

.vi-sidebar-sidebar-a3 {
  h3 {
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 5px;
    line-height: 0.8em;
  }

  .vi-block {
    margin-bottom: 15px;

    p {
      margin: 10px 0 5px;
      line-height: 0.95em;
    }
    p + p {
      margin-top: 0;
    }
  }
}

.tm-block {
  margin-bottom: 10px;
}

a.tm-post-read-more {
  transform: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transform: all 0.2s linear;
  margin-top: 15px;
  display: inline-block;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 10px 15px;

  &:hover {
    border-color: @global-link-color;
    color: @global-link-color;
    text-decoration: none;
  }
}

/*
 * Blocks
 */
.tm-toolbar, .tm-navbar, .tm-footer {
  margin-top: @global-grid-gutter;
  margin-bottom: @global-grid-gutter;
}

.tm-title {
  font-family: @font-heading;
}

.vi-listing-form {
  height: 100vh !important;
}

/* Listing page */
.tm-content-layout {
  .tm-content {
    #cf1 {
      width: 100%;
    }

    .uk-alert:not(.vi-alert) {
      margin-left: -@space-wrapper;
      margin-bottom: 0;
    }

    .uk-alert-large {
      padding-left: @space-wrapper;
    }
  }

  .tm-headerbar {
    margin-left: 0;

    .vi-headerbar-top {
      width: calc(~'100% - @{left-bar-width}');
      left: @left-bar-width;
    }
  }

  .tm-right-bar {
    padding-left: 0;
  }
}

#listing {
  overflow: visible;
}

.tm-content {
  .uk-alert {
    margin-top: 0;
    margin-bottom: 0;
  }

  #listing {
    margin-left: 0;

    .vi-right-column {
      background: @panel-box-background;
    }

    h2, h3 {
      margin: inherit;
      padding: inherit;
      font-weight: inherit;
    }

    h3 {
      border-bottom: none;

      &.uk-panel-title {
        padding: 10px 0;
      }
    }
  }

  #listings {
    .listing-summary {
      .hook-border-radius(0);
    }

    .vi-listing-summary {
      border: 1px solid #EEE;

      .pendingapproval {
        font-size: 0.75em;
        display: block;
      }
    }
  }

  .form-horizontal {
    .controls {
      margin-left: 0;
    }

    .tm-cat-field {
      .control-label {
        width: 100px;
        text-align: left;
      }
      .controls {
        margin-left: 110px;
        padding-top: 5px;
      }

      margin-bottom: 0;
    }

    input[type=text], textarea {
      .hook-border-radius(0);
    }

    .mfieldtype_corename {
      input[type=text] {
        font-size: 18px;
        padding: 16px;
      }
    }

    .btn-primary {
      background: @panel-box-primary-color;
      color: #fff;
      font-weight: 700;
    }
  }
}

#uploadPreview {
  margin: 10px 0;
}

#ckRemoveImage {
  margin-top: 0;
}

.vi-listing-link {
  overflow: hidden;
}

// listings page
.vi-listing-img {
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center;

  &:hover {
    cursor: pointer;
  }
}

#listings {
  margin-top: 10px;

  .reviews {
    margin-left: 10px;
  }

  .vi-listing-summary {
    position: relative;

    div.pull-right {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.vi-listing-summary-big {
      border: none;

      .vi-listing-img {
        height: 450px;
      }

      .vi-listing-info {
        width: 90%;
        margin: -50px auto 0;
        background: #FFF;

        h3 {
          padding: 10px;
          font-weight: 700;
          font-size: 1.75em;
        }
      }
    }
  }

  .vi-title {
    padding: 15px 15px 0;
    text-align: center;
    font-weight: 700;

    h3 {
      margin-bottom: 10px;
    }
  }

  .vi-listing-rating {
    text-align: center;

    img {
      margin-top: -3px;
    }
  }

  .vi-date-author-info {
    text-align: center;
    margin: 5px 0 15px;

    > span.date:after {
      content: ', ';
    }
  }

  .category {
    text-align: center;
    margin: 5px 0;
  }

  &.vi-owner-listings {
    .vi-listing-img {
      height: 300px;
    }
    .vi-listing-info {
      margin: -25px auto 0;
      background: #FFF;
      width: 85%;
    }
    .vi-listing-summary {
      border: none;

      &:not(.vi-listing-summary-big) {
        height: 500px;
      }
    }

  }
}

.vi-user-page-title {
  margin-top: 10px;
  padding: 0 @space-wrapper;
}

.vi-profile-picture {
  padding: 0 @space-wrapper;
  img {
    width: 150px;
  }
}

.pagination {
  text-align: center;
}

.tm-sidebar-block {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #CCC;
  }
}

.tm-review {
  padding: 10px;

  .tm-thumbnail {
  }
  .tm-review-content {
    margin-left: 10px;
  }
}

.tm-user-profile-fieldset {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

/* Search page and search module*/
#search-form {
  margin-top: 20px;
}

ul.autocompleter-choices li {
  font-family: @base-body-font-family;
}

/* login page */
.nav-tabs.nav-stacked > li > a {
  border: none;
}

.tm-login, .tm-remind, .tm-reset, .tm-logout {
  h1 {
    padding: @panel-box-padding;
    margin-bottom: 0;
  }
}

/* Invite form */
.uk-form.tm-invite-form {
  input[type=text], input[type=email] {
    font-size: 14px;
    width: 220px !important;
  }
}

.pendingapproval {
  color: @text-warning-color;
}

.unpublished {
  color: @text-danger-color;
}

/*
 * Footer
 */

.tm-footer {
  position: relative;
  text-align: center;
  padding-left: 75px;
}

.tm-footer .uk-panel + .uk-panel {
  margin-top: @global-grid-gutter;
}

/*
 * Sub Categories
 */
.vi-sub-category {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}

.vi-sub-category-image {
  img, div {
    width: auto;
    height: 222px;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      opacity: 0.5;
      transition: all 0.5s ease-out 0s;
    }
  }
}

.vi-sub-category-title {
  padding: 20px 30px;
  margin: 0px;
  line-height: 24px;
  a {
    color: #000;
    font-weight: 700;
    line-height: 24px;
    &:hover {
      color: #e45245;
      text-decoration: none;
    }
  }
}

.vi-sub-category-title-archives {
  font-size: 24px;
  a {
    font-size: 24px;
  }
}

/*
 * Categories
 */

.vi-category-title {
  margin: 10px 11px 10px 0 !important;
  border-bottom: none !important;
}

.vi-category-title-archives {
  font-size: 1.6em !important;
  //height: 24px !important;
  vertical-align: middle !important;
}

.vi-grid {
  padding: 0 0 4px 4px;
}

.vi-image-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  height: 350px;
  border: 0.5em solid #d8e4e8;
  width: 100%;
  position: relative;
}

.vi-description-category {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.vi-title-category-top {
  text-align: center;
  width: 100% !important;
}

/*
 * Listings
 */

.tm-content {
  #listings {
    .vi-listing-summary {
      .pendingapproval {
        height: 18px;
        line-height: 18px;
      }
    }
  }
}

.tm-fp-featured-post {
  width: 80%;
  margin: -35px auto;
  position: relative;
  padding: 5px;
  background: #FFF;

  .vi-post-title {
    text-align: center;
    border: 1px solid @global-border;
    padding: 10px 15px;
    font-weight: 700;
    line-height: 1.25em;
  }
}

.vi-title-listing {
  span {
    &:first-child {
      height: 63px;
      display: block;
    }
  }
}

.vi-label {
  width: 31px;
}

.vi-control-post-info {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
}

.vi-post-info-left, .vi-post-rating, .vi-post-info-right {
  margin: 13px 0 0 25px;
}

.vi-title-listing-favorite {
  a {
    display: block;
  }
}

.featured {
  background-color: #00aeef !important;
  display: inline-block !important;
  height: 30px !important;
  line-height: 20px !important;
  top: 0 !important;
  padding: 5px 10px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.pendingapproval {
  display: inline-block !important;
}

/*
 * Archives Page
 */

.vi-textbox {
  font-size: 15px !important;
  height: 35px !important;
  line-height: 17px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  width: 168px !important;
  text-align: center;
}

.vi-button {
  height: 31px !important;
  line-height: 15px !important;
  font-size: 16px !important;
  min-height: auto !important;
}

/*
 * Template
 */
.uk-offcanvas-bar:after {
  display: none;
}
.vi-wrap-left-bar {
  position: fixed;
  height: 10000%;
  width: 75px;

  video {
    position: absolute;
    right: 0;
  }
}
.vi-copyright {
  position: absolute;
  bottom: 10px;
}

#tm-canvas-bar {
  li {
    padding: 0 10px;
    color: #FFF;
  }

  .uk-nav li, li {
    > a {
      padding: 0;
      color: #FFF;
    }
  }
}

.vi-margin-bottom {
  margin: 0 0 10px 0 !important;
}

.vi-image-index {
  z-index: 1;
}

.vi-alert-warning {
  display: none;
  margin-left: 0px !important;
}

.vi-index {
  z-index: -1;
}

.vi-content-layout {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pagination {
  .counter {
    margin: auto !important;
  }
}

.pagination  {
  ul > li {
    display: table-cell !important;
  }
}

/*
 * User
 */

.vi-user-profile, .vi-post-info-left, .vi-post-rating, .vi-post-info-right {
  float: left;
}

.vi-detail-post {
  .vi-detail-post-content {
    max-width: @detail-content-width;
    margin: 10px auto;
  }
}

.vi-editing-page {
  margin-right: @grid-gutter-small-horizontal;
}

.vi-editing-page, .vi-detail-post {
  position: relative;

  .vi-editing-category {
    text-align: center;
  }

  .vi-editable {
    min-height: 100vh !important;
    max-width: @detail-content-width;
    margin: 10px auto 0;

    .placeholder-title, .placeholder-introduction-text, .placeholder-content {
      color: #DDD;
    }

    &.medium-insert-active {
      img {
        border: 2px solid #FF0000;
      }
    }
  }

  h2, .uk-h2 {
    font-size: 3.5em !important;
  }

  h3, .uk-h3 {
    font-size: 1.75em !important;
  }

  .vi-introduction-text {
    &:after, &:before {
      width: 50%;
      height: 1px;
      display: block;
      content: '';
      background: #111;
      margin: 25px auto;
    }
  }

  .content {
    margin-top: 50px;
  }

  .vi-controls {
    margin-top: -48px;
    margin-bottom: 5px;
  }

  .vi-image-icon {
    top: 0;
    position: absolute;
    width: 56px;
    height: 48px;
    cursor: pointer;

    i {
      line-height: 48px;
      margin-right: 8px;

      &:hover {
        color: @text-primary-color;
      }
    }
  }
}

#vi-upload-cover-image {
  display: none;
}

#vi-image-cover-bg {
  width: 100%;
}

#vi-waiting-dlg {
  .uk-modal-dialog {
    width: 400px;
    min-height: 100px;
  }

  .uk-modal-spinner {
    top: 30%;
  }

  .vi-msg {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
}

.vi-form input[type='text']{
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ddd;
  color: #444;
  font-size: 16px;
  height: 46px;
  max-width: 100%;
  padding: 10px 20px;
  transition: all 0.2s linear 0s;
}

.vi-footer-bar {
  display: block;
  position: fixed;
  bottom: 0;
  padding: 10px 15px;
  width: calc(~'100% - @{left-bar-width}');
  border-top: 1px solid rgba(0,0,0,0.05);
  background: #FFF;
  font-size: 0.85em;
  overflow: hidden;
  line-height: 32px;

  .vi-post-info {
    img {
      width: 32px;
      .hook-border-radius(50%);
    }
  }

  .vi-controls {
    a {
      display: inline-block;
      margin-left: 10px;

      &:hover {
        color: @text-primary-color;
      }
    }

    .tm-review, #total-votes {
      border-right: 1px solid #333;
      padding-right: 10px;
    }

    .tm-rating {
      margin-right: 5px;

      a {
        margin-left: 0;
      }

      #rating-msg {
        display: inline-block;
        margin-right: 5px;
      }

      img {
        margin-top: -3px;
      }
    }

    .favourite {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #333;
    }
  }
}

@media (min-width: @breakpoint-large) {
  .tm-login, .tm-remind, .tm-reset, .tm-logout {
    h1 {
      margin-left: @form-horizontal-controls-margin-left;
    }
  }
}

/* Only large screens */
@media (min-width: @breakpoint-xlarge) {
  .tm-navbar,
  .tm-footer {
    margin-top: @global-grid-gutter-large;
    margin-bottom: @global-grid-gutter-large;
  }
}

.medium-insert-extimages-wide {
  .extimage-place-holder {
    float: none;
  }
}

.medium-insert-embeds, .medium-insert-embeds {
  figure {
    figcaption {
      font-size: 0.85em;
      font-style: oblique;
      margin-top: 10px;
      color: #666;

      .default-value {
        color: #CCC;
      }
    }
  }
}

.medium-insert-extimages {
  text-align: center;

  figure {
    img {
      width: 100%;

    }

    figcaption {
      text-align: center;

    }

    &:after {
      content: '';
      clear: both;
    }
  }

  &-left, &-right {
    width: 70%;
  }

  &-center {
    figure {
      width: 70%;
      display: inline-block;
    }
  }

  &-left {
    float: left;
    margin-right: 20px;
  }

  &-right {
    float: right;
    margin-left: 20px;
  }

  &-leftcaption, &-rightcaption {
    figure {
      position: relative;
      overflow: hidden;

      .extimage-place-holder {
        width: 70%;
      }

      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 28%;

        &:after, &:before {
          height: 3px;
          background: #666;
          width: 40%;
          content: '';
          display: block;
        }

        &:before {
          margin-bottom: 15px;
        }

        &:after {
          margin-top: 15px;
        }
      }
    }
  }

  &-leftcaption {
    figure {
      figcaption {
        margin-left: 2%;
        text-align: left;
      }
    }
  }

  &-rightcaption {
    figure {
      .extimage-place-holder {
        float: right;
      }

      figcaption {
        margin-right: 2%;
        text-align: right;
        width: 28%;
        position: absolute;
        left: 0;
        bottom: 0;

        &:before, &:after {
          margin-left: 60%;
        }
      }
    }
  }
}

/* Only phones */
@media (max-width: @breakpoint-small-max) {

  .tm-navbar {
    margin: 0 -@utility-container-padding-horizontal @global-grid-gutter -@utility-container-padding-horizontal;
    border-width: 0 0 1px 0;
  }

  .tm-logo-small:hover {
    text-decoration: none;
  }

;

  .tm-navbar:not(.uk-navbar-attached) {
    border-radius: 0;
  }

  .tm-content #listings .vi-listing-summary .pendingapproval {
    height: 40px;
  }
}
