<figure contenteditable="false">
    <div class="image-place-holder">
        <img src="{{img}}" alt="">
    </div>
    <figcaption class="image-caption"></figcaption>
    {{#if progress }}
        <div class="medium-insert-images-progress" contenteditable="true" data-default-value="Type caption for image (optional)"></div>
    {{/if}}
</figure>