.mod_mt_listings_rightside li {
    list-style-type: none;
    margin-bottom: 10px;
}
.mod_mt_listings_rightside li + li {
    border-top: 1px solid #DDD;
    padding-top: 15px;
}
.tm-listing-image {
    height: 130px;
    background-size: cover;
}
.tm-listing-detail a {
    font-weight: 700;
    color: #444;
    transform: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transform: all 0.2s linear;
}
.tm-listing-detail a:hover {
    color: #e45245;
    text-decoration: none;
}
.mod_mt_listings_rightside .tm-left-box {
    text-align: right;
}
.mod_mt_listings_rightside .tm-featured-box {
    margin-top: 10px;
}